{
    "presets": [
        [
            "env",
            {
                "spec": true,
                "useBuiltIns": false
            }
        ],
        [
            "react"
        ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}