@charset "utf-8";
.main-progress-Bar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
/* body{
    overflow-y:visible;
} */
.content{
    min-height: 800px;
    margin: 0px;
    padding: 0px;
}
.novel-page{
    padding: 15px 10px 0px;
}
.novel-list{
    margin: 10px -5px 0px;
}
.novel-list::before{
    display: table;
    content: " ";
}
.novel-list::after{
    clear: both;
    display: table;
    content: " ";
}
.novel-list > li {
    float: left;
    width: 33.33333333%;
    padding: 0px 15px;
    margin-bottom: 10px;
}
.novel-img {
    position: relative;
    overflow: hidden;
    max-width: 180px;
}
.novel-img > .imgbox{
    margin-top: 133.33%;
}
.novel-img > .img{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.novel-img  img{
    width: 100%;
    height: 100%;
}
.novel-title{
    padding: 1px 0px;
    font-size: 1.1em;
    font-family: "楷体";
    margin: 0.5em 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.novel-author{
    font-size: 0.8em;
    margin: 0.5em 0px;
    color: #789;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.novel-shortIntro{
    font-size: 15px;
    height: 15px;
    line-height: 1;
    padding: 0px;
    margin:0.5em 0px;
    width: 100%;
    /*多行省略*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.novel-intro{
    font-size: 15px;
    height: 45px;
    line-height: 1;
    padding: 0px;
    margin:0.5em 0px;
    width: 100%;
    /*多行省略*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.search-form{
    margin-left: 10px;
}
.search-input{
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-input:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.search-button{
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 3px;
}
.search-result{
    margin: 10px;
}
.search-result li{
    /* height: 150px; */
    padding-bottom: 10px;
    vertical-align: top;
}
.search-result li a{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
}
.search-novel-img{
    height: 150px;
    max-width: 112.5px;
}
.search-novel-mes-wrap{
    flex: 1;
    padding-left: 10px;
}
.novel-header{
    width: 100%;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
}
.chapter-page{
    min-height: 800px;
    /* padding: 15px 10px 0px; */
}
.chapter-content{
    min-height: 800px;
    border-top: 15px solid transparent;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    padding: 55px 0px;
    transition: all ease-out 0.2s;
}
.white-bgc{
    background-color: #fff;
    color: #000;
}
.yellow-bgc{
    background-color: rgb(240, 235, 215);
    color:rgb(75,48,27);
}
.chapter-title{
    font-family: Palatino, Georgia, Times, "Times New Roman", serif;
    font-size: 170%;
    font-weight: bolder;
    line-height: 1.3em;
    margin: 0 8px 8px;
}
.chapter-paragraph{
    font-family: "苹方";
    font-size: 100%;
    letter-spacing: 0.2em;
    /* text-indent: 2em; */
    line-height: 1.5em;
    margin: 0.8em 8px;;
}
.chapter-header{
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    height:40px;
    padding: 0px;
    font-size: 28px;
    line-height: 45px;
    /* background: rgba(255,255,255,.9); */
    opacity: 0.8;
    /* border-bottom: 1px solid #001; */
    box-shadow: 0 -0.03rem 0.1rem #999
}
.chapter-header a{
    display: inline-block;
    font-size: 28px;
    line-height: 40px;
    height:40px;
    margin: 0px;
    vertical-align: middle;
}
.chapter-menu{
    position: fixed;
    bottom:0px;
    left:0px;
    right: 0px;
    height:45px;
    /* background: rgba(255,255,255,.9); */
    opacity: 0.8;
    box-shadow: 0 0.03rem 0.1rem #999;
    line-height: 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.chapter-pre,.chapter-next{
    border: 0px solid transparent;
    font-size: 22px;
    /* display: flex; */
    padding: 0px 10px;
}
.chapter-progress{
    font-size: 20px;
}